[submodule "tmux/.tmux/plugins/nord-tmux"]
	path = tmux/.tmux/plugins/nord-tmux
	url = https://git::@github.com/arcticicestudio/nord-tmux
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tmux-themepack"]
	path = tmux/.tmux/plugins/tmux-themepack
	url = https://git::@github.com/jimeh/tmux-themepack
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
